//--------variable------------

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$primary-text-color:  #111;
$primary-button-color: whitesmoke; 
$theme-color: #e91e63;
 
.home-container {
  border: 1px solid green;
  display: flex;
  align-items: center; 
  width: 100vw;
  position: fixed;
  height: 90px;;
  margin:0 auto 0 auto;
  color: $primary-text-color;
  font-family: 'Open Sans', sans-serif;


  .home-wrapper {
    margin-left:100px;
    font-size: 32px;
    font-weight:800;
  }

  button {
    background: $theme-color;
    color: $primary-button-color;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    padding: 7px 14px;
    text-shadow: 1px 1px rgba(0,0,0,.2);
    font-size:16px;
    cursor: pointer;
  }
}
