@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: blue;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #111;
  background-color: #dee2e6;
  /* background-color: red; */
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal-background {
  background: blue;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  top: 0;
  z-index: 2;
  position: fixed
}

.modal {
  position: fixed;
  z-index: 100;
  left: 36%;
  top:28%;
  width: 30%;
  height: 50%;
  background: #f0f2f5;
  border-radius: 5px;
  border: none;
  padding: 0 20px;
  margin: auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.container {
  /* border: 1px solid red; */
  margin: 25px auto;
  line-height: 2.5
}

@media (width <= 900px) {
  .modal {
    /* width: 78%;
    height: 50%; */
    width: 50%;
    height: 50%;
    left: 25%;
    top:27%;
  }
}

@media (width <= 650px) {
  .modal {
    width: 78%;
    height: 50%;
    left: 11%;
    top:27%;
  }
}

@media (width <= 340px) {
  .modal {
    width: 78%;
    height: 50%;
    left: 11%;
    top:27%;
  }
}

.skeleton {
  border-radius: 10px;
  background-color: whitesmoke;
}



/* -----Youtube video adjustment-----*/
@media(min-width: 250px) {
  .frame {
    height: 130px;
  }

  .loading {
    height: 130px;
  }
}

@media(min-width: 300px) {
  .frame {
    height: 160px;
  }

  .loading {
    height: 160px;
  }
}

@media(min-width: 350px) {
  .frame {
    height: 190px;
  }

  .loading {
    height: 190px;
  }
}

@media(min-width: 400px) {
  .frame {
    height: 215px;
  }

  .loading {
    height: 215px;
  }
}

@media(min-width: 450px) {
  .frame {
    height: 240px;
  }

  .loading {
    height: 240px;
  }
}

@media(min-width: 500px) {
  .frame {
    height: 260px
  }

  .loading {
    height: 270px;
  }
}

@media(min-width: 550px) {
  .frame {
    height: 280px
  }

  .loading {
    height: 290px;
  }
}

@media(min-width: 600px) {
  .frame {
    height: 300px
  }

  .loading {
    height: 310px;
  }
}

@media(min-width: 650px) {
  .frame {
    height: 320px
  }

  .loading {
    height: 330px;
  }
}

@media(min-width: 700px) {
  .frame {
    height: 340px
  }

  .loading {
    height: 350px;
  }
}

@media(min-width: 750px) {
  .frame {
    height: 360px
  }

  .loading {
    height: 370px;
  }
}

@media(min-width: 800px) {
  .frame {
    height: 380px
  }

  .loading {
    height: 390px;
  }
}

@media(min-width: 850px) {
  .frame {
    height: 400px
  }

  .loading {
    height: 410px;
  }
}

@media(min-width: 900px) {
  .frame {
    height: 420px
  }

  .loading {
    height: 430px;
  }
}

@media(min-width: 1000px) {
  .frame {
    height: 390px
  }

  .loading {
    height: 400px;
  }
}

@media(min-width: 1050px) {
  .frame {
    height: 510px
  }

  .loading {
    height: 520px;
  }
}

.image {
  transition: transform 0.4s ease;
}

.image:hover {
  transform: scale(1.1);
}
